<?xml version="1.0"?>
<target>
  <id>DUMP</id>
  <name>DUMP</name>
  <username></username>
  <port>${dumpPortNumber}</port>
  <targetType>sruUpdate</targetType>
  <path>/dump</path>
  <baseurl>localhost</baseurl>
</target>
