<?xml version="1.0"?>
<target>
  <id>FILESYSTEM</id>
  <name>FILESYSTEM</name>
  <username></username>
  <targetType>filesystem</targetType>
  <path>${integrationTempdir}/filesystem</path>
  <oaiEnvelope>false</oaiEnvelope>
</target>
