<?xml version="1.0"?>
<target>
  <id>SRUUPDATE</id>
  <name>SRUUPDATE</name>
  <username></username>
  <port>${helperServerPortNumber}</port>
  <targetType>sruUpdate</targetType>
  <path>/dump</path>
  <baseurl>localhost</baseurl>
</target>
