#
# Configuration file for Meresco Harvester
#
portNumber = 8888

#
# dataPath stores all repositories, domain, etc information.
#
dataPath = /home/harvester/data

#
# logPath will contain logging information which may be rotated
#
logPath = /home/harvester/log

#
# statePath will contain the current state for harvested
#
statePath = /home/harvester/state

#
# URL to the harvester status page
#
externalUrl = https://example.org
