#
# Configuration file for Meresco Harvester
#
portNumber = 8888

#
# Url to the apache (slowfoot) part of Meresco Harvester
#
saharaUrl = http://localhost:9080

#
# dataPath stores all repositories, domain, etc information.
#
dataPath = /home/harvester/data

#
# logPath will contain logging information which may be rotated
#
logPath = /home/harvester/log

#
# statePath will contain the current state for harvested
#
statePath = /home/harvester/state

#
# URL to the harvester status page 
#
harvesterStatusURL = http://localhost:9443/page/showHarvesterStatus/show
