body {
  margin: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #313234;
}

input, select {
  font-size: smaller;
}

.head, .subhead {
  font-size: larger;
  font-style: italic;
}

.head {
  font-weight: bold;
}