<style type="text/css">
*    {font: 9pt Arial, sans-serif}
BODY {
   /*background-color: #CBC9BE;*/
   background-color: #F6F4EF;
   color:                      #666666;
   margin: 0px;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
a {
	color: #006C71;
	text-decoration: none
}
a:active, a:hover {
	text-decoration: underline;
}

.error {
	font-weight: bold;
	color: red;
}

td.button {
	padding: 0px 6px 6px 40px;
	background: #FFFFFF url(images/button.jpg) no-repeat 0% 100%;
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        height: 26px;
        align: left;
        valign: top;
}
td.sahara {
	background: #FFFFFF url(images/sahara.jpg) no-repeat 100% 0;
	height:70px;
}
td.horline {
	background-color:#CBC9BE;
	height:1px;
}
td.content {
	background-color:#F5F4EE;
	padding: 20px 20px 20px 20px;	
}

th {
	text-align: center;
}

table.event{
	border-spacing: 0px;
}
.event td {
	border: 1px solid gray;
	padding: 3px;
}
.event a{
	color: red;
	font-weight: bold;
}
.zkveld { 
	border: 1px; border-style: solid; 
	border-color:#5B9EB9; width:200px;
	height:18px;
}
.zkveld_klein { 
	border: 1px; border-style: solid; 
	border-color:#5B9EB9; width:60px;
	height: 18px;
}
input.butt {
	background-color: #79B500; 
	font-weight: bold; 
	border-width: thin solid #5B9EB9; 
	font-size: 11px; color: white;
	height:20px;
}
</style>