.boxwrap   { width: 100%; margin-left: auto; margin-right: auto; }
.boxbody   { width: 99%; float: left;  }
.boxcenter { width: 81%; float: right; }

.boxleft   { width: 18%; float: left; }
.boxright  { width: 1%; float: right; }
.boxheader { width: 100%;  clear: both;  }
.boxfooter { width: 100%;  clear: both;  }

.boxclear  { clear: both; line-height: 0px }

.iehackwrap { text-align: center;  }
.boxwrap    { text-align: left; }